* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
}
  
a {
    color:#000000DE;
    text-decoration: none;
    padding-right: 15px;
    font: 13px arial, sans-serif;
}

a:hover {
    color: #686363;
    text-decoration: underline;
}

.links-images-adv-search {
    margin-top: 8px;
    padding: 13px;
    text-align: right;
}

.google-logo {
    background-color: white;
    padding-top: 103.5px;
    text-align: center;
}

/* Styling the main page -
index.html */

.main-input-text {
    width: 585px;
    height: 45px;
    border: .5px solid lightgrey;
    border-radius: 80px;
    margin: 23px 0px;
    padding-left: 50px;
    font-size: 15px;
    outline: none;
}

.main-input-text:hover {
    border-color: lightgrey;
    box-shadow: 0 0 8px 0 lightgrey;
}

.main-search-bar {
    text-align: center;     
}

.main-icon {
    position: relative;
}

.main-icon i {
    position: absolute;
    top: 28px;
    padding: 10px 18px;
    color: lightgrey;
}

.main-submit-buttons-align {
    text-align: center; 
}

.main-submit-button {
    border: .5px solid #f2f2f2;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 0 16px;
    margin: 7px 4px;
    height: 36px;
    cursor: pointer;
}

.main-submit-button:hover {
    border-color: #B9B0B0;
}

.main-submit-button:focus {
    border-color: dodgerblue;
    outline: 0;
}

/* Styling the images search page - 
images_search.html */

.images-logo-text {
	position: relative;
	top: -37px;
	right: -105px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 119, 255);
	text-align: center;
}

.images-input-text {
    width: 540px;
	height: 45px;
	border: .5px solid lightgrey;
	border-radius: 80px;
	margin: -200px 0px;
	padding-left: 50px;
	font-size: 15px;
	outline: none;
}

.images-input-text:hover {
    border-color: lightgrey;
    box-shadow: 0 0 8px 0 lightgrey;
}

.images-search-bar {
    text-align: center;
    margin-top: -20px;  
}

.images-icon {
    position: relative;
}

.images-icon i {
	position: absolute;
	top: -8px;
	padding: 10px 18px;
	color: lightgrey;
}

/* Styling the advanced search page - 
advanced_search.html */

.adv-search-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #f1f1f1;
    height: 60px;
}

.adv-search-header > img {
    padding: 5px 20px 0 15px;
}

.adv-search-header > a {
    justify-content: center;
    padding: 1px 28px 0 0;
}

.adv-search-text {
    margin: 25px 45px;
    color: #D93025;
    font: 20px arial, sans-serif;
}

hr {
    border: 0.1px solid #ebebeb;
    margin-bottom: 43px;
}

.adv-find-pages-text {
    color: #333;
    font: 16px arial, sans-serif;
    margin: 0 0 9px 42px;
}

.adv-to-do-this-text {
    color: #777;
    font: 13px arial, sans-serif;
    font-weight: bold;
}

label {
    color: #222;
    font: 13px arial, sans-serif;
    margin: 0 25px 0 42px;
}

.adv-input-text {
    margin: 5px 10px 4px 5px;
    height: 29px;
    width: 570px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    padding: 1px 8px;
}

.adv-input-text:focus {
    outline-color: #006cd9;
    outline-style: solid;
}

.adv-submit-button {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    height: 30px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
    outline: 0;
    margin: 10px 0;
    padding: 0 12px;
    font-family: arial, sans-serif;
    margin-left: 680px;
}

.adv-submit-button:hover {
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}

.font-1 {
    font: 11px arial,sans-serif;
    color: #555;
}

.font-1a {
    font: 11px monospace;
    color: #666;
}

/* Initially I wished to use <pre> here
but it didn't work out or maybe I didn't
use it correctly */

.mimic-pre {
    white-space: pre;
}
